{% extends "main.html" %}

{% block content %}

<style>
    .room-container{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

</style>
<div class="room-container">

    <div>
        <h1>{{room.name}}</h1>
        <p>{{room.description}}</p>
        {% comment %} hi {% endcomment %}

        <div class="comment-wrapper">
            <h3>Conversations</h3>
            <hr>
            {% for message in room_messages %}
                <div>                 {% comment %}|(pipe) is filter here {% endcomment %} 
                    {% if request.user == message.user %}
                    <a href="{% url 'deletemessage' message.id %}">Delete Message</a>
                    {% endif %}
                    <small>@{{message.user}}  {{message.created | timesince}} Ago</small>
                    <hr>
                    {{message.body}}
                </div>
            {% endfor %}
        </div>
        
        {% if request.user.is_authenticated%}
        <div class = "comment-form"> {%comment%} Method = How to send it {%endcomment%}
            <form method ="POST" action ="" > {%comment%} action = where to send the data {%endcomment%}
                {% csrf_token %}
                <input type="text" name="body" placeholder="Write Your Method Here"/>
            </form>
        </div>
        {% endif %}
    </div>

    <div>
        <h3>Participants</h3>
        {% for user in participants %}
        <p>@{{user.username}}</p>
        {% endfor %}
        <hr>
    </div>
</div>




{% endblock content %}